
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

@media print {
  .non-printable {
    display: none!important;
  }
  .printable {
    display: block;
  }
}

.hidden {
  display: none;
}

.container-calc {
  max-width: 800px !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  h2, .h2 {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  p {
    margin-top: 0;
    font-size: 16px;
    margin-bottom: 22px;
  }
  .text-left {
    text-align: left !important;
  }
  button {
    font-size: 16px;
  }
  input {
    font-size: 16px;
  }
  .block-head {
    background: linear-gradient(180deg, #e6e6e6 0%, #b9b9b9 76.8%, #b0b0b0 97.79%, #878787 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 20px 0;
    div {
      font-size: 16px;
    }

  }
  .num,.close { font-size: 16px;opacity: 1;}

  .block-inputs {
    padding: 20px 0;
    input {
      width: 100%;
      padding: 5px;
      border: 1px solid #ff861b;
    }
  }
  .green {
    background: chartreuse;
  }
  .reshenia_text, .map_text, .data_text {
    margin-top: 30px;
    font-size: 20px;
    color: black;
  }

  .block-head-second {
    background: linear-gradient(180deg, #e6e6e6 0%, #b9b9b9 76.8%, #b0b0b0 97.79%, #878787 100%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    padding: 10px 0;
    div {
      font-size: 16px;
    }
  }
  .block-result {
    .col-md-12.block-result-info {
      margin: 50px 0;
      background: lightgray;
      padding: 10px;
      text-align: left;
      font-size: 14px;
    }
  }
  .btn-alum {
    padding: 10px;
    border: none;
    cursor: pointer;
    background: linear-gradient(180deg, #ffaf51 0%, #f3831f 93.92%, #feab4c 100%);
  }
  .text-danger {
    cursor: pointer;
    color: red;
  }
  .edit-title {
    display: flex;
  }

  .block-result-map {
    margin-bottom: 30px;
  }


  .map-table {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    .grey {
      background: lightgrey!important;
    }
    .row_map {
      display: flex;
      flex-direction: row;
      border-bottom: 1px solid;
      &:last-of-type {
        border: none;
      }
    }
    .item {
      background: yellow;
      padding: 20px;
      border-right: 1px solid;
      font-size: 16px;
      &:last-of-type {
        border: none;
      }
    }
  }

  .blok-buttons {
    margin-bottom: 30px;
  }

  .ishod_data {
    font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    width: 100%;
  }
  .all_stat {
    font-size: 16px;
  }

}