<template>
    <div class="alum-calc">
        <div class="container container-calc">
            <Description></Description>
            <TableHead></TableHead>
            <div class="row block-inputs non-printable">
                <div class="col-md-8">
                    <input type="number" v-model.number="len_g" placeholder="12500">
                </div>
                <div class="col-md-4">
                    <input type="number" v-model.number="width_g" placeholder="15">
                </div>
            </div>
            <div class="row block-head-second non-printable">
                <div class="col-md-1">№</div>
                <div class="col-md-4">Длина отрезка</div>
                <div class="col-md-3">Количество ({{all_count}})</div>
                <div class="col-md-3">ID</div>
                <div class="col-md-1 close">X</div>
            </div>
            <div class="row block-inputs non-printable" v-for="(input,index) in inputs" :key="input.el">
                <div class="col-md-1 num">{{index+1}}</div>
                <div class="col-md-4"><input v-model.number="input.len" title="len" type="number"></div>
                <div class="col-md-3"><input v-model.number="input.count" title="count" type="number"></div>
                <div class="col-md-3"><input v-model="input.id" title="id" type="text"></div>
                <div class="col-md-1 close"><span class="text-danger" @click="removeField(index)">X</span></div>
            </div>
            <div class="row block-contols-btn non-printable">
                <div class="col-md-8">
                    <button class="btn-alum btn-add-row" @click="addField">+Добавить строку</button>
                </div>
                <div class="col-md-4">
                    <button class="btn-alum btn-result" @click="getResult" v-if="valid">Рассчитать</button>
                </div>
            </div>
            <div class="row block-result" v-if="result && valid && len_g > 0">
                <div class="col-md-12 block-result-info">
                    <div class="edit-title">
                        <font-awesome-icon icon="edit"/>
                        <div @click="editTitle" v-if="!show" class="result-title"><h2>{{title}}</h2></div>
                        <input @keyup.enter="show=false" v-if="show" type="text" title="title" v-model="title">
                    </div>
                    <p class="data_text">Исходные данные:</p>
                    <p><span>Длина одной заготовки</span>: {{len_g}}</p>
                    <p><span>Ширина пропила</span>: {{width_g}}</p>
                    <span class="ishod_data" v-for="item in out" :key="item.el">
                        <span v-if="item.len">{{item.len}} - </span>
                        <span v-if="item.count"> {{item.count}} шт. </span>
                        <span v-if="item.id">{{item.id}}</span>
                        <br>
                    </span>
                    <p class="reshenia_text">Решение с наименьшим отходом:</p>

                    <p v-for="item in value_merge" :key="item.el">
                        <span v-if="item">
                            {{getCount(item)}}x [
                            <span v-for="(item_x, index) in item" :key="item_x.el">
                                <span v-if="item_x.count > 1">~</span> {{item_x.id}} {{item_x.len}} (x{{item_x.count}}) <span
                                    v-if="index !== item.length-1">{{comma}}</span>
                        </span>
                            ] = {{getLen(item)}}
                    </span>
                    </p>
                    <div class="all_stat">
                        <span>Требуется заготовок</span>: {{stat.count_material}}<br>
                        <span>Общий остаток</span>: {{stat.ostatok}}<br>
                        <span>Общая длина</span>: {{stat.all_len}}<br>
                        <span>Полезный выход</span>: {{stat.poleznii_vihod | topFix}} %<br>
                        <span>Процент остатка</span>: <span v-if="stat.percent_ostatka > 0">{{stat.percent_ostatka | topFix}}</span><span
                            v-else>{{stat.percent_ostatka}}</span> %<br>
                        <span>Точек разреза</span>: {{stat.tochek}}<br><br>
                        <a href="/" target="_blank">алюминий.укр</a>
                    </div>
                </div>
                <div class="col-md-12 block-result-map" v-if="result" v-show="map">
                    <div class="map">
                        <p class="map_text">Карта раскроя</p>
                        <div class="map-table">
                            <div class="row_map" v-for="items in value_merge" v-bind:key="items.el">
                                <div class="item" v-for="item in items" :key="item.el"
                                     v-bind:style="'width:'+mapWidth(item)+'%'">
                                    {{item.len}} (x{{ item.count}})
                                </div>
                                <div class="item grey" v-if="mapLast(items) > 0" v-bind:style="'width:'+mapLast(items)+'%'">-ост.{{len_g-getLen(items)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row block-result" v-else>
                <div class="col-md-12 block-result-info">Ваши отрезки больше длины заготовки или незаполнены данные
                </div>
            </div>
            <div class="row blok-buttons non-printable" v-if="result">
                <div class="col-md-5">
                    <button class="btn-alum" v-on:click="map = !map">Скрыть/Показать карту раскроя</button>
                </div>

                <div class="col-md-4">
                    <button class="btn-alum hidden">Показать/Скрыть остатки</button>
                </div>

                <div class="col-md-3">
                    <button class="btn-alum" @click="printResult">Распечатать</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    //Todo добавить учет умножения ширины в посмтроение карты

    import Description from './parts/Description';
    import TableHead from './parts/TableHead';

    export default {
        name: 'Alumcalc',
        data() {
            return {
                title: 'Расчет № 1',
                comma: ',',
                len_g: 500, //demo
                width_g: 10, //demo
                all_count: '',
                result: false,
                show: false,
                valid: true,
                map: true,
                out: [],
                inputs: [],
                obj: [],
                value_equal: [],
                value_not_equal: [],
                empty_arr: [],
                resultArrays: [],
                value_merge: [],
                stat: {
                    count_material: '',
                    ostatok: 0,
                    all_len: 0,
                    poleznii_vihod: 0,
                    percent_ostatka: 0,
                    tochek: 0
                }
            }
        },
        components: {
            Description,
            TableHead
        },
        mounted() {
            this.addField();
        },
        watch: {
            inputs: {
                handler: function (e) {
                    this.getInputs(e);
                },
                deep: true
            }
        },
        methods: {
            demo() {
                this.inputs.push({
                    len: 500,
                    count: 2,
                    id: 'id1',
                }); //demo
                this.inputs.push({
                    len: 500,
                    count: 1,
                    id: 'id5',
                }); //demo
                this.inputs.push({
                    len: 200,
                    count: 1,
                    id: 'id2',
                }); //demo
                this.inputs.push({
                    len: 50,
                    count: 1,
                    id: 'id3',
                }); //demo
            }, //remove
            demo2() {
                this.inputs.push({
                    len: 997,
                    count: 6,
                    id: 'id1',
                }); //demo
                this.inputs.push({
                    len: 497,
                    count: 12,
                    id: 'id1',
                }); //demo
            }, //remove
            addField() {
                this.inputs.push({
                    len: '',
                    count: '',
                    id: '',
                })
                // this.demo2();
            },
            getInputs(e) {
                let total_count = 0;
                e.forEach(element => {
                    this.valid = true;
                    let len = Number(element.len);

                    if (len > this.len_g) {
                        this.valid = false;
                    }
                    total_count += Number(element.count);
                });

                this.all_count = total_count;
            },
            getOut(e) {
                let obj = JSON.parse(JSON.stringify(e));
                let new_arr = this.fixDublicate(obj);
                this.out = new_arr.sort((a, b) => {
                    return b.len - a.len
                });
            },
            calc() {
                this.obj = JSON.parse((JSON.stringify(this.inputs)));

                this.value_equal = this.obj.filter((item) => {
                    return item.len === this.len_g;
                });

                this.value_not_equal = this.obj.filter((item) => {
                    return item.len !== this.len_g;
                });

                this.value_not_equal.forEach(item => {
                    this.dublicateObject(item.count, item);
                });
            },
            generateMap() {

                this.empty_arr.sort((a, b) => {
                    return b.len - a.len;
                });

                // alert(JSON.stringify(this.empty_arr));

                this.empty_arr.forEach(item => {
                    // alert(JSON.stringify(this.resultArrays));

                    if (!this.resultArrays.length) {
                        this.resultArrays.push([item]);
                    } else {
                        let newRow = false;
                        let isBreak = false;
                        // alert(JSON.stringify(this.resultArrays));

                        this.resultArrays.forEach((row, index, arr) => {
                            let sum = row
                                .map(item => item.len + this.width_g)
                                .reduce((prev, next) => prev + next);
                            // alert(JSON.stringify(sum));

                            if (!isBreak) {
                                if ((sum + item.len) <= this.len_g) {
                                    arr[index].push(item);
                                    isBreak = true;
                                } else if ((index + 1) === arr.length) {
                                    newRow = [item];
                                    isBreak = true;
                                }
                            }
                        });
                        if (newRow) {
                            this.resultArrays.push(newRow);
                        }
                    }
                });

                if (this.value_equal.length !== 0) {
                    this.value_equal = this.fixDublicate(this.value_equal);
                }
                let new_result = [];
                // let result_arrays = JSON.parse(JSON.stringify(this.resultArrays));
                // result_arrays.sort((a,b) => {return b.len - a.len});
                // alert(JSON.stringify(result_arrays));

                this.resultArrays.forEach(item => {
                    new_result.push(this.fixDublicate(item))
                });
                if (this.value_equal.length !== 0) {
                    this.value_merge = [this.value_equal].concat(new_result);
                } else {
                    this.value_merge = new_result;
                }
            },
            resetCalc() {
                this.obj = [];
                this.value_equal = [];
                this.value_not_equal = [];
                this.empty_arr = [];
                this.resultArrays = [];
                this.value_merge = [];
            },
            fixDublicate(items_obj) {
                let obj = JSON.parse(JSON.stringify(items_obj));
                let new_arr = [];
                obj.forEach((item) => {
                    let test = new_arr.find(x => x.len === item.len);
                    if (!test) {
                        let arr = obj.filter(x => x.len === item.len);
                        let count = 0;

                        arr.forEach(it => {
                            count += Number(it.count);
                        });

                        item.count = count;
                        new_arr.push(item);
                    }
                });
                return new_arr;
            },
            dublicateObject(times, obj) {
                let new_obj = [];
                for (let index = 0; index < times; index++) {
                    new_obj = {
                        len: obj.len,
                        count: 1,
                        id: obj.id
                    };
                    this.empty_arr.push(new_obj);
                }
            },
            getCount(e) {
                let total = 0;
                e.forEach(item => {
                    if (item.len === this.len_g) {
                        total = item.count;
                    } else {
                        total = 1;
                    }
                });

                return total;
            },
            getLen(e) {
                let total = 0;
                e.forEach(item => {
                    if (this.len_g === item.len) {
                        total = item.len;
                    } else {
                        total += (item.len + this.width_g) * item.count;
                    }
                });
                this.stat.len_g += total;
                return total;
            },
            getStat() {
                let stat_count_m = [];
                let stat_tochek = [];
                let stat_ostatok = [];
                let iteratin = 0;
                this.value_merge.forEach(items => {
                    iteratin++;
                    stat_count_m.push(this.getCount(items));
                    stat_ostatok.push(this.getLen(items));
                    items.forEach(item => {
                        if (item.len === this.len_g) {
                            stat_tochek.push(0);
                        } else {
                            stat_tochek.push(item.count);
                        }
                    });
                });
                this.stat.count_material = stat_count_m.reduce((a, b) => a + b);
                let stat_tocheck_result = stat_tochek.reduce((a, b) => a + b) - this.stat.count_material;
                    if (stat_tocheck_result > 0) {
                        this.stat.tochek = stat_tochek.reduce((a, b) => a + b);
                    } else {
                        this.stat.tochek = 0;
                    }
                this.stat.ostatok = iteratin * this.len_g - stat_ostatok.reduce((a, b) => a + b);
                this.stat.all_len = this.stat.count_material * this.len_g;
                this.stat.percent_ostatka = this.stat.ostatok * 100 / this.stat.all_len;
                this.stat.poleznii_vihod = 100 - this.stat.percent_ostatka;
            },
            mapWidth(e) {
                let result = (e.len + this.width_g) * e.count / this.len_g * 100;
                return result;
            },
            mapLast(items) {
                let result = 0;
                items.forEach(item => {
                    result = 100 - this.mapWidth(item);
                });
                return result
            },
            removeField(index) {
                this.inputs.splice(index, 1)
            },
            printResult() {
                window.print();
            },
            editTitle() {
                this.show = true
            },
            test() {
                this.result = false;
                let test = JSON.parse(JSON.stringify(this.inputs));
                test.sort((a, b) => {
                    return b.len - a.len;
                });
                if (test[0].len <= this.len_g) {
                    this.result = true;
                }
            },
            getResult() {
                this.getOut(this.inputs);
                this.resetCalc();
                this.calc();
                this.generateMap();
                this.getStat();
                this.test();
            }
        },
        filters: {
            topFix: function (value) {
                if (!value)
                    return '';

                value = value.toFixed(2);

                return value
            }
        }
    }
</script>
