<template>
    <div class="row description">
        <div class="col-md-12 text-left">
            <p>
                Этот калькулятор используется для раскроя линейных изделий, таких как арматура,
                брус, кабель,
                пруты и т.п., учитывая их длину.
                Например, вам необходимо распилить пруты арматуры длинной 11,75м на:
                36 отрезков по 1,2м, 12 штук по 6,8м, 65шт по 0,3м, 16шт по 9,8м, 24 шт по 1,8м.
            </p>
            <p>
                Скомпоновать вариант схемы распила с наименьшими отходами и затратами материалов вам поможет
                этот калькулятор - аналог eCutout и сайта stroymaterial-buy для линейного раскроя, бесплатный и
                в онлайн доступе с
                мобильной версией и самый реактивный аналогов по скорости нету.</p>
            <p>
                Разработан и поддерживается cs50.com.ua (используя vuejs).
            </p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Description"
    }
</script>