<template>
    <div class="row block-head non-printable">
        <div class="col-md-8">Длина заготовки:</div>
        <div class="col-md-4">Ширина пропила:</div>
    </div>
</template>

<script>
    export default {
        name: "TableHead"
    }
</script>