<template>
  <div id="app">
    <Alumcalc />
  </div>
</template>

<script>
import Alumcalc from './components/Alumcalc.vue'

export default {
  name: 'app',
  components: {
      Alumcalc
  }
}
</script>

<style lang="scss">
  /*@import '../node_modules/bootstrap/scss/bootstrap-grid.scss';*/
  @import './assets/scss/calc';
</style>
